{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #a8a8a8; padding-top: 10px; padding-bottom: 10px; color:white; word-wrap:break-word;position:fixed;left:0;right:0;top:0;height:200px;z-index: 999;overflow:hidden">
  <div class="container center">
    <img id="datatree" src="/kv265/default/image?{{=XML('&'.join(['%s=%s' % pair for pair in request.vars.items()]))}}" style="position:absolute;left:calc(50% - 90px);top:-220px">
  </div>
</div>
<div class="jumbotron jumbotron-fluid background" style="background-color: #a8a8a8; padding-top: 10px; padding-bottom: 10px; color:white; word-wrap:break-word;height:200px">

</div>
{{end}}

<div class="row">
  <div class="col-md-12">
    

    <h2>Almost done!</h2>
    <p class="lead">We've put an avatar on the swingset to help you find your data tree on the big screen.</p>
    <p class="lead">We picked it out for you at random. You can make changes if you like, or you can go ahead and finish.</p>
    <div class="container center" style="padding-bottom:20px">
      <button class="btn" style="width:100%;border:1px solid black" onclick="random_male()">
        Start with a random male avatar
      </button>
    </div>
    <div class="container center" style="padding-bottom:20px">
      <button class="btn" style="width:100%;border:1px solid black" onclick="random_female()">
        Start with a random female avatar
      </button>
    </div>

    <form action="/kv265/default/done">
      <p class="lead" style="text-align: center;font-weight: bold;">Shirt</p>
      {{=LOAD('default','choice_avatar.load',
        args=['shirt','male','female'],
        vars=dict(male="unisex", female="women's fit"),
        ajax=False)}}
      <p class="lead" style="text-align: center;font-weight: bold;">Bottom</p>
        {{=LOAD('default','choice_avatar.load',
          args=['bottom','pants','skirt'],
          vars=dict(pants='pants',skirt='skirt'),
          ajax=False)}}
    <p class="lead" style="text-align: center;font-weight: bold;">Skin color</p>
      {{=LOAD('default','choice_avatar_color.load',
      args=['body','color1','color2','color3','color4','color5','color6','color7','color8','color9','color10'],
      vars=dict(color1='FEF4F0',color2='FAE3DC',color3='F7D6C4',color4='F5C3A8',color5='E8A682',color6='D18B66',color7='BA7B5A',color8='A56745',color9='895539',color10='66402B'),
      ajax=False)}}
    <p class="lead" style="text-align: center;font-weight: bold;">Hair style</p>
      {{=LOAD('default','choice_avatar.load',
      args=['hairstyle','style1','style4','style3','style2','style5','style6'],
      vars=dict(style1='straight',style2='pigtails',style3='bob cut',style4='curly',style5='short 1',style6='short 2'),
      ajax=False)}}
    <p class="lead" style="text-align: center;font-weight: bold;">Hair color</p>
      {{=LOAD('default','choice_avatar_color.load',
      args=['haircolor','color1','color2','color3','color4','color5'],
      vars=dict(color1='301D19',color2='5F4A45',color3='BEA578',color4='ECD584',color5='FEFCD1'),
      ajax=False)}}
    
    <p class="lead" style="text-align: center;font-weight: bold;">Eye style</p>
      {{=LOAD('default','choice_avatar.load',
      args=['eyestyle','style1','style3','style2','style4'],
      vars=dict(style1='small',style2='medium 1',style3='big',style4='medium 2'),
      ajax=False)}}
    <p class="lead" style="text-align: center;font-weight: bold;">Eye color</p>
      {{=LOAD('default','choice_avatar_color.load',
      args=['eyecolor','color1','color5','color6','color2','color3','color4'],
      vars=dict(color1='F2D8A2',color2='CBE7BA',color3='A1B888',color4='8DEAFF',color5='D4B59B',color6='A6917F'),
      ajax=False)}}
      <p class="lead" style="text-align: center;font-weight: bold;">Mouth</p>
      {{=LOAD('default','choice_avatar.load',
      args=['mouth','mouth1','mouth4','mouth5','mouth2','mouth3'],
      vars=dict(mouth2='open',mouth3='tongue',mouth1='closed 1',mouth4='closed 2',mouth5='closed 3'),
      ajax=False)}}
    <p class="lead">When you're finished...</p>
    {{for item in request.vars:}}
    <input type="hidden" name="{{=item}}" value="{{=request.vars[item]}}" checked="checked">
    {{pass}}
    <div class="container center" style="padding-bottom:20px">
      <input type="submit" class="btn btn-success" style="width:100%;border:1px solid black" value="Continue">
    </div>
    </form>
  </div>
</div>

<script>
function choice(question,resp,ajax=true) {
  $(".radio-"+question).removeAttr("checked");
  $("#"+question+"-"+resp).attr("checked","checked");
  $(".btn-"+question).removeClass("btn-primary");
  $("#btn-"+question+"-"+resp).addClass("btn-primary");
  if(ajax) {
    query = "/kv265/default/image?{{=XML('&'.join(['%s=%s' % pair for pair in request.vars.items()]))}}&";
    $("choice").each(function(index,choice) {
      query += choice.textContent + "=" + $('input[name='+choice.textContent+']:checked').val() + "&"
    });
    console.log(query);
    $("#datatree").attr("src",query);
  }
}
choice('shirt',['male','female'][Math.floor(Math.random()*2)],ajax=false);
choice('bottom',['pants','skirt'][Math.floor(Math.random()*2)],ajax=false);
choice('body','color'+Math.floor(Math.random()*5+3),ajax=false);
choice('eyestyle','style'+Math.floor(Math.random()*4+1),ajax=false);
choice('eyecolor','color'+Math.floor(Math.random()*6+1),ajax=false);
choice('hairstyle','style'+Math.floor(Math.random()*6+1),ajax=false);
choice('haircolor','color'+Math.floor(Math.random()*5+1),ajax=true);
if(Math.floor(Math.random()*2+1) == 1) {
  choice('mouth','mouth2');
}
else {
  choice('mouth','mouth5');
}
function random_female() {
  choice('shirt',['male','female'][Math.floor(Math.random()*2)],ajax=false);
  choice('bottom',['pants','skirt'][Math.floor(Math.random()*2)],ajax=false);
  choice('body','color'+Math.floor(Math.random()*5+3),ajax=false);
  choice('eyestyle','style'+Math.floor(Math.random()*4+1),ajax=false);
  choice('eyecolor','color'+Math.floor(Math.random()*6+1),ajax=false);
  hairstyle = Math.floor(Math.random()*5+1)
  choice('hairstyle','style'+hairstyle,ajax=false);
  if(hairstyle==5) {
    choice('shirt',"female",ajax=false);
    choice('bottom',"skirt",ajax=false);
  }
  choice('haircolor','color'+Math.floor(Math.random()*5+1),ajax=true);
  
}
function random_male() {
  choice('shirt',"male",ajax=false);
  choice('bottom',"pants",ajax=false);
  choice('body','color'+Math.floor(Math.random()*5+3),ajax=false);
  choice('eyestyle','style'+Math.floor(Math.random()*4+1),ajax=false);
  choice('eyecolor','color'+Math.floor(Math.random()*6+1),ajax=false);
  choice('hairstyle','style'+Math.floor(Math.random()*2+5),ajax=false);
  choice('haircolor','color'+Math.floor(Math.random()*5+1),ajax=true);
}
</script>
<style>
.btn-primary {
  border: 3px solid #007bff;
}
</style>

