{{extend 'layout.bigscreen.html'}}{{import json}}

<div class="grid"></div>

<div style="background-color:black;position:fixed;left:0;right:0;bottom:0">
<div style="background:white;padding:20px;width:240px;float:left;margin-right:20px"><img src="/kv265/static/images/qrcode.png" style="width:200px"></div>
<h1 style="font-size:100px">bit.ly/addatree</h1>
<h1>Fill out a survey and add a tree to this screen!</h1>
<p class="lead">Produced by the Vanderbilt University Frist Center for Autism and Innovation, in collaboration with KV265</p>
</div>

<script>
scale = 1.0;
img_width = 450;
img_height = 475;
margin = 20;
border = 10;
lastCheck = 0;
$(document).ready(function() {
    var xhr = null;
    addImages();
    $('.grid').masonry({
      // options
      itemSelector: '.grid-item',
      columnWidth: 0,
    });
    setInterval(scaleImages,1000);
    
});
function scaleImages() {
    if($(window).height() - 300 < $(".grid").height()) {
        scale *= 0.95;
        img_width = 450 * scale;
        img_height = 475 * scale;
        margin = 20 * scale;
        border = 10 * scale;
        $(".grid-item").css({'margin-right':margin,'margin-bottom':margin,'padding':margin,
            'border-width':border})
        $(".grid-item img").animate({width:img_width,height:img_height});
        setTimeout(function() {
            $('.grid').masonry({
                // options
                itemSelector: '.grid-item',
                columnWidth: 0,
            });
        }, 500);
    }
}


//ref: http://www.thecave.info/how-to-abort-a-previous-ajax-request-in-jquery/

function addImages() {
    //var $items = $('<div class="grid-item" style="background:rgb(255, 255, 129);float:left;margin-right:'+margin+'px;'+
    //    'margin-bottom:'+margin+'px;padding:'+margin+'px;border:'+border+'px solid black;border-radius:20px"><img src="/kv265/static/base.png"'+
    //    ' style="width:'+img_width+'px;height:'+img_height+'px"></div>')
    //$(".grid").prepend($items).masonry("prepended",$items)
    //if( xhr != null ) {
    //    xhr.abort();
    //    xhr = null;
    //}
    xhr = $.ajax( "/kv265/default/get_images?since="+lastCheck+"&scale="+scale )
    .done(function(jqXHR) {
      setTimeout(addImages,2000);
      var $items = $(jqXHR);
      $(".grid").prepend($items).masonry("prepended",$items);
      lastCheck = Number(xhr.getResponseHeader("X-LARGEST-ID"))
    })
    .fail(function() {
      console.log("Something went wrong");
      setTimeout(addImages,2000);
    });
}
    </script>