{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #a8a8a8; padding-top: 20px; padding-bottom: 20px; color:white; word-wrap:break-word;">
  <div class="container center">
    <img src="/kv265/default/image?{{=XML('&'.join(['%s=%s' % pair for pair in request.vars.items()]))}}" style="max-width:100%;max-height:60vh">
  </div>
</div>
{{end}}

<div class="row">
  <div class="col-md-12">
    <h2>Your data tree is ready!</h2>
    <div class="container center" style="padding-bottom:20px">
      <button id="submit" class="btn" style="width:100%;border:1px solid black" onclick="submit()">
        Put it on the screen!
      </button>
    </div>
    <div class="container center" style="padding-bottom:20px">
      <a class="btn" style="width:100%;border:1px solid black;background:none;color:black" href="/kv265/default/image?download=true&{{=XML('&'.join(['%s=%s' % pair for pair in request.vars.items()]))}}">
        Download to your phone
      </a>
    </div>
    <h2>So what have we learned?</h2>
    <p class="lead">If you look on the screen there are almost no two trees that are alike, and it's doubtful that your tree matches another tree that's already on the screen. This is meant to illustrate the fact that we all have different thought processes. This is the key idea of neurodiversity - we are all stronger when we bring people together who think differently!</p>

    <p class="lead">The tree leaves come from questions on the autism questionnaire. It is very rare to find someone who has a dark green tree throughout. Even people who are neurotypical (non-autistic) can have a few autistic traits.</p>
      
    <div class="text-center"><img src="/kv265/static/images/kikibouba.png" style="max-width:85vw;padding-bottom:20px"></div>

  <p class="lead">The bark, swingset and animals in the tree come from the first three questions. They were added just for fun. Studies have found that the vast majority of people will assign "Kiki" to the shape on the left and "Bouba" to the shape on the right, even though no one had seen a "kiki" or a "bouba" before. Hence the large number of dark brown trees compared to light brown trees.</p>
      
  <p class="lead">We do offer formal diagnostic assessments for adults at the Frist Center, which you can learn more about <a href="https://my.vanderbilt.edu/autismandinnovation/seeking-an-autism-diagnosis/" target="_blank">here</a>.</p>
    {{=LOAD('default','credits.load',ajax=False)}}
    <!--<p class="lead">If you would like us to send you a copy, enter your email here:</p>
    <div class="container center" style="padding-bottom:20px">
        <input type="email" class="form-control" id="email" placeholder="Enter your email here...">
      <button id="submit_email" class="btn" style="width:100%;border:1px solid black" onclick="submit_email()">Send me a copy</button>
    </div>-->
  </div>
</div>

<script>
function submit() {
  $("#submit").prop("disabled",true)
  $("#submit").text("Submitting...")
  $.ajax( "/kv265/default/submit?{{=XML('&'.join(['%s=%s' % pair for pair in request.vars.items()]))}}" )
    .done(function() {
      setTimeout(function() {
        $("#submit").text("It's on the screen now!")
        $("#submit").addClass("btn-success");
        $("#submit").removeClass("btn-danger");
        $("#submit").prop("disabled",true);
      }, 2000);
    })
    .fail(function() {
      $("#submit").text("Something went wrong. Please try again.")
      $("#submit").addClass("btn-danger");
      $("#submit").prop("disabled",false);
    })
}
function submit_email() {
  $.ajax( "/kv265/default/submit_email/"+$("#email").val()+"?{{=XML('&'.join(['%s=%s' % pair for pair in request.vars.items()]))}}" )
    .done(function() {
      $("#submit_email").text("Thanks! We'll send it to you tomorrow.")
      $("#submit_email").addClass("btn-success");
      $("#submit_email").removeClass("btn-danger");
      $("#submit_email").prop("disabled",true)
    })
    .fail(function() {
      $("#submit_email").text("Something went wrong. Please try again.")
      $("#submit_email").addClass("btn-danger");
    })
}
function share() {
  shareData = {
    title: 'Check out my data tree!',
    text: 'Create a data tree for yourself at bit.ly/addatree',
    url: 'https://danburger.pythonanywhere.com/kv265/default/image?{{=XML('&'.join(['%s=%s' % pair for pair in request.vars.items()]))}}',
  }
  try {
    navigator.share(shareData)
  } catch(err) {
    alert('Error: ' + e)
  }
}
</script>

