{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #a8a8a8; padding-top: 20px; padding-bottom: 20px; color:white; word-wrap:break-word;">
  <div class="container center">
    <img src="/kv265/static/base.png" style="max-width:100%;max-height:60vh">
  </div>
</div>
{{end}}

<div class="row">
  <div class="col-md-12">
    <h2>Let's build your data tree</h2>
    <p class="lead">We are about to present you with a questionnaire. As you fill it out, your data tree will be colored in.
      Once your data tree is finished, it will show up on the big screen.
    </p>
    <p class="lead">Most of the questions you are about to see come from a standard autism survey. As you and others fill
      out your data trees, remember:
    </p>
    <ul style="word-wrap:break-word;">
      <li><p class="lead">Even people who are not autistic, or "neurotypical", can show some autistic traits</p></li>
      <li><p class="lead">We all think differently; no two trees will be alike</p></li>
      <li><p class="lead">This is not a diagnostic test. While there are many autistic people who choose to diagnose themselves, only a
        professional can make a proper diagnosis.</p>
      </li>
    </ul>
      <div class="container center" style="padding-bottom:40px;padding-top:20px">
        <a class="btn" href="{{=URL('default','survey')}}" style="width:100%;border:1px solid black;background:none;color:black">
          Start the survey
        </a>
      </div>
  </div>
</div>



