{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #a8a8a8; padding-top: 10px; padding-bottom: 10px; color:white; word-wrap:break-word;position:fixed;left:0;right:0;top:0;height:calc(30vh + 20px);z-index: 999;">
  <div class="container center">
    <img id="datatree" src="/kv265/static/base.png" style="max-height:30vh;">
  </div>
</div>
<div class="jumbotron jumbotron-fluid background" style="background-color: #a8a8a8; padding-top: 10px; padding-bottom: 10px; color:white; word-wrap:break-word;height:calc(30vh + 20px);">

</div>
{{end}}

<div class="row">
  <div class="col-md-12">
    <form action="/kv265/default/avatar">
    <p class="lead">Let's start with a few easy, fun personality questions.</p>
    <p class="lead">Which animal would you rather be?</p>
    {{=LOAD('default','choice.load',
      args=['animal',"cat","octopus","bird","dog"],
      vars=dict(cat='Cat',octopus='Octopus',bird='Bird',dog='Dog'),
      ajax=False)}}
    <p class="lead">See the shapes below. Which is Bouba? Which is Kiki?</p>
    <div class="text-center"><img src="/kv265/static/images/kikibouba.png" style="max-width:85vw;padding-bottom:20px"></div>
      {{=LOAD('default','choice.load',
        args=['onleft','kiki','bouba'],
        vars=dict(kiki="The left is Kiki; the right is Bouba.",bouba="The left is Bouba; the right is Kiki."),
        ajax=False)}}
    <p class="lead">What is your favorite comfort food?</p>
        {{=LOAD('default','choice.load',
          args=['food','cheese','brownies','fries','icecream'],
          vars=dict(cheese="Anything with cheese!",brownies="I love brownies.",fries="Fries, any day...",icecream="Ice cream, of course!"),
          ajax=False)}}
    <p class="lead">Now for the questions from the standard autism survey:</p>
    <p class="lead">My tone of voice does not accurately reflect my emotions in the moment.</p>
        {{=LOAD('default','choice.load',
          args=['toneofvoice','often','sometimes','rarely','never'],
          vars=dict(often="Often true",sometimes="Sometimes true",rarely="Rarely true",never="Never"),
          ajax=False)}}
    <p class="lead">When in a quiet place, like the library or church, I find myself making involuntary noises like clearing my throat over and over.</p>
        {{=LOAD('default','choice.load',
          args=['involuntarynoises','often','sometimes','rarely','never'],
          vars=dict(often="Often true",sometimes="Sometimes true",rarely="Rarely true",never="Never"),
          ajax=False)}}
    <p class="lead">When I'm having a conversation with someone, I tend to look at the wall, her shoes, or anywhere but directly into her eyes.</p>
        {{=LOAD('default','choice.load',
          args=['eyecontact','often','sometimes','rarely','never'],
          vars=dict(often="Often true",sometimes="Sometimes true",rarely="Rarely true",never="Never"),
          ajax=False)}}
    <p class="lead">I notice right away when someone becomes bored, restless or frustrated while talking to me.</p>
        {{=LOAD('default','choice.load',
          args=['bored','often','sometimes','rarely','never'],
          vars=dict(never="Never",rarely="Rarely true",sometimes="Sometimes true",often="Often true"),
          ajax=False)}}
    <p class="lead">I like things the way I like them, and it upsets me when people try to interfere with my systems and/or routines.</p>
        {{=LOAD('default','choice.load',
          args=['routines','often','sometimes','rarely','never'],
          vars=dict(often="Often true",sometimes="Sometimes true",rarely="Rarely true",never="Never"),
          ajax=False)}}
    <p class="lead">My senses can be easily overloaded by things like loud noises, strong smells, or certain fabrics or lights. I notice that these things bother me even when they don't bother others.</p>
        {{=LOAD('default','choice.load',
          args=['senses','often','sometimes','rarely','never'],
          vars=dict(often="Often true",sometimes="Sometimes true",rarely="Rarely true",never="Never"),
          ajax=False)}}
    <p class="lead">When you're finished...</p>
    <div class="container center" style="padding-bottom:20px">
      <input type="submit" class="btn btn-success" style="width:100%;border:1px solid black" value="Continue">
    </div>
    </form>
  </div>
</div>

<script>
function choice(question,resp) {
  $(".radio-"+question).removeAttr("checked");
  $("#"+question+"-"+resp).attr("checked","checked");
  $(".btn-"+question).removeClass("btn-primary");
  $("#btn-"+question+"-"+resp).addClass("btn-primary");
  query = "/kv265/default/image?"
  $("choice").each(function(index,choice) {
    query += choice.textContent + "=" + $('input[name='+choice.textContent+']:checked').val() + "&"
  });
  console.log(query)
  $("#datatree").attr("src",query)
}
</script>

